<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>TeoVibe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body class="bg-tv-cream text-tv-black min-h-screen flex items-center justify-center">
    <%= yield %>
  </body>
</html>
